.container {
    overflow: hidden;
}

.label {
    background-color: #000000;
    height: 27px;
    width: 115px;
    font-size: 11px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    padding-top: 6px;
    margin: 20px auto 0;
}

.label_white {
    background-color: #FFFFFF;
    color: #070716;
}

.title {
    text-align: center;
    color: #222222;
    font-weight: 700;
    font-size: 38px;
    text-transform: uppercase;
    margin: 33px 0 16px;
}

.title_white {
    color: #FFFFFF;
    margin: 27px 0 0;
}

.subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #222222;
}

.subtitle_white {
    color: #FFFFFF;
}

header {
    position: relative;

    nav {
        position: fixed;
        width: 100%;
        z-index: 3;
        height: 50px;
        background-color: #212121;
    }
}

.hamburger {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
    transition: 0.5s all;

    &_item {
        border-right: 2px dotted black;
        padding-right: 40px;
        &:last-child {
            border-right: none;
        }
    }
    
    a {
        text-decoration: none;
        font-weight: 300;
        font-size: 15px;
        color: #FFFFFF;
        transition: 0.2s all;
        &:hover {
            color: $accent_blue;
        }
    }
}

.subheader {
    position: absolute;
    width: 100%;
    height: 87px;
    background: rgba(0,0,0, .6);
    margin-top: 50px;
    
    &_logo {
        display: block;
        max-width: 100%;
        margin-top: 16px;
    }

    &_official {
        margin-top: 6px;
        font-weight: 100;
        font-size: 13px;
        color: #FFFFFF;
        opacity: 0.5;
    }

    &_call {
        margin-top: 19px;
        font-weight: 300;
        font-size: 12px;
        color: #FFFFFF;
        text-align: right;
    }

    &_phone {
        display: block;
        font-weight: 400;
        font-size: 22px;
        color: #FFFFFF;
        text-decoration: none;
        text-align: right;
        transition: 0.5s all;

        &:hover {
            color: $accent_blue;
        }
    }

    &_btn {
        margin-top: 20px;
        width: 172px;
        height: 46px;
        background: linear-gradient(0deg, $accent_blue 0%, #4CE2FF 100%);
        box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
        border: none;
        border-radius: 4px;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
        @include btn_hover
    }
}

.promo {
    min-height: 800px;
    background: url('../img/main_bg.png') center center/cover no-repeat;
    padding: 150px 0 135px 0;

    &_header {
        font-weight: 900;
        font-size: 60px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 60px;
        line-height: 60px;
    }

    &_subheader {
        font-weight: 900;
        font-size: 36px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0;
        line-height: 36px;
        margin-top: 22px;
    }

    &_descr {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 23px;
    }

    &_btn {
        display: block;
        margin: 118px auto 0;
        width: 259px;
        height: 63px;
        background: linear-gradient(0deg, $accent_blue 0%, #4CE2FF 100%);
        box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
        border: none;
        border-radius: 4px;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
        @include btn_hover
    }
}

.advantages {
    padding-bottom: 65px;
}

.advantage {
    display: flex;
    justify-content: center;
    margin-bottom: 26px;

    &_icon {
        height: 113px;
        width: 113px;
        background-color: $accent_blue;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 25px;
    }

    &_info {
        max-width: 343px;

        .advantage_title {
            font-size: 17px;
            color: $accent_blue;
        }

        .advantage_desc {
            font-size: 15px;
            font-weight: 300;
        }
    }
}

.mobile {
    min-height: 864px;
    padding: 48px 0 79px 0;
    background: url('../img/mobile_bg.png') center center/cover no-repeat;

    .row {
        margin-top: 32px;
    }

    &_item {
        width: 320px;
        height: 280px;
        margin: 0 auto 19px;
        padding-top: 91px;
        position: relative;
        &_1 {
            background: url('../img/mobile_item_bg1.png') center center/cover no-repeat;
        }
        &_2 {
            background: url('../img/mobile_item_bg2.png') center center/cover no-repeat;
        }
        &_3 {
            background: url('../img/mobile_item_bg3.png') center center/cover no-repeat;
        }
        &_4 {
            background: url('../img/mobile_item_bg4.png') center center/cover no-repeat;
        }
        &_5 {
            background: url('../img/mobile_item_bg5.png') center center/cover no-repeat;
        }
        &_6 {
            background: url('../img/mobile_item_bg6.png') center center/cover no-repeat;
        }

        &_subtitle {
            font-weight: 400;
            font-size: 24px;
            line-height: 31px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        &_plus {
            background-color: #000000;
            margin: 0 auto;
            width: 29px;
            height: 29px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 6px;
            position: absolute;
            bottom: 35px;
            left: 50%;
            transform: translateX(-50%);
            cursor: pointer;
            &:before {
                content: '';
                display: block;
                width: 14px;
                height: 2px;
                background-color: $accent_blue;
                transition: 0.3s all;
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                height: 14px;
                width: 2px;
                background-color: $accent_blue;
                transition: 0.3s all;
            }
            &:hover {
                &:before, &:after {
                    background-color: $accent_red;
                }
            }
        }
    }
}

.choice {
    background: url(../img/choice_bg.png) center center/cover no-repeat;
    padding: 37px 0 138px;

    &_car {
        margin: 54px 0 0;
        display: flex;
        justify-content: center;
    }

    &_text {
        text-align: center;
        font-weight: 300;
        font-size: 17px;
    }
}

.require {
    padding: 68px 0 84px;
    &_block {
        margin: 33px 0;
        &_nmb {
            margin-bottom: 0;
        }
    }
    &_title {
        font-weight: 400;
        font-size: 22px;
        line-height: 24px;
        color: #1CA8C3;
    }
    &_list {
        list-style-type: none;
        padding-left: 50px;
        margin-top: 22px;
        li {
            position: relative;
            font-weight: 300;
            font-size: 17px;
            line-height: 24px;
            color: #222222;
            margin-bottom: 10px;
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: -32px;
                top: 2px;
                width: 21px;
                height: 20px;
                background: url('../icons/blue_check.svg') center center/cover no-repeat;
            }
        }
    }
    &_desc {
        font-weight: 300;
        font-size: 17px;
        line-height: 24px;
        color: #1CA8C3;
    }

    .warning {
        .require_title {
            color: $accent_red;
        }
        .require_list {
            li {
                &:before {
                    background: url('../icons/red_check.svg') center center/cover no-repeat;
                }
            }
        }
    }
}

.worldwide {
    background: url('../img/world_bg.png') center center/cover no-repeat;
    padding: 48px 0 50px;

    .subtitle {
        margin-bottom: 490px;
    }
    .worldwide_link {
        display: flex;
        a {
            margin: 0 auto;
            text-decoration: none;
            font-weight: 400;
            font-size: 15px;
            line-height: 68px;
            text-transform: uppercase;
            color: #1FBAD6;
        }
    }
}

footer {
    padding: 11px 22px 40px;

    .footer_line {
        height: 7px;
        width: 300px;
        background-color: #1FBAD6;
        margin: 11px auto 30px;
    }

    .footer_info {
        display: flex;
        position: relative;
        justify-content: space-between;
        text-transform: uppercase;
        
        .footer_social {
            display: flex;
            justify-content: space-between;
            width: 149px;

            .social {
                background-color: #070716;
                border-radius: 50%;
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
    
                img {
                    height: 18px;
                    width: 18px;
                }
    
                &:nth-last-child(-n+2) {
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }

        nav {
            width: 400px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            .footer_nav {
                display: flex;
                justify-content: space-around;
                list-style: none;
                margin-bottom: 15px;
                padding: 0;

                &_link {
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }

            .footer_nav_main {
                display: flex;
                flex-wrap: wrap;
                font-weight: 300;
                font-size: 15px;

                .footer_nav_link {
                    color: #070716;
                }
            }

            .footer_nav_second {
                display: flex;
                flex-wrap: wrap;
                font-weight: 300;
                font-size: 11px;

                .footer_nav_link {
                    color: #999999;
                }
            }

            .language {
                text-transform: uppercase;
                font-weight: 400;
                font-size: 11px;
                color: #1FBAD6;
                text-align: center;
                margin-bottom: 40px;
                cursor: pointer;
            }
        }

        .xs-visible {
            display: none;
        }
    }

    .footer_apps {
        img {
            height: 27px;
            width: 91px;
        }
    }
}

.xs-visible {
    display: none;
}