@media (max-width: 1200px) {
    .menu {
        &_item {
            padding-right: 20px;
        }
        
        a {
            font-size: 13px;
        }
    }

    .promo {
        &_header {
            font-size: 50px;
        }
    }

    .mobile {
        &_item {
            width: 280px;
            height: 240px;
            padding: 70px 10px 0;
        }
    }
}

@media (max-width: 991px) {
    .menu {
        &_item {
            padding-right: 10px;
        }
        
        a {
            font-size: 10px;
        }
    }

    .subheader {
        &_logo {
            img {
                width: 100%;
            }
        }

        &_official {
            font-size: 12px;
        }

        &_call {
            font-size: 13px;
        }

        &_phone {
            font-size: 18px;
        }

        &_btn {
            width: 100%;
            height: 40px;
            margin-top: 21px;
        }
    }

    .promo {
        &_header {
            font-size: 40px;
        }

        &_subheader {
            font-size: 30px;
        }
    }

    .advantage {
        flex-direction: column;
        align-items: center;

        &_icon {
            margin-bottom: 24px;
        }

        &_info {
            max-width: 300px;
        }
    }

    .mobile {
        &_item {
            width: 250px;
            height: 250px;
            padding: 80px 20px 0;

            &_subtitle {
                font-size: 18px;
            }
        }
    }

    .require {
        padding: 40px 0 50px;
    }

    footer {
        .footer_info {
            nav {
                width: 300px;

                .footer_nav_main {
                    font-size: 14px;
                }
    
                .footer_nav_second {
                    font-size: 11px;
                }
            }
        }
    }

    .footer_apps {
        width: 280px;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        
        a {
            margin: 0 5px 5px 0;
        }
    }
}

@media (max-width: 767px) {
    .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 12px;

        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: #ffffff;
            margin-bottom: 2px;
            transition: 0.5s all;
        }

        &_active {
            span {
                margin-bottom: -2px;
                &:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }

    .menu {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background-color: rgba($color: #000000, $alpha: 0.8);

        &_active {
            left: 0;
        }

        &_item {
            padding-right: 0;
            border: none;
            font-size: 30px;
            margin-top: 10px;
            width: 100%;
        }

        a {
            font-size: 20px;
        }
    }

    .subheader {
        &_logo {
            margin-top: 30px;
        }

        &_official {
            display: none;
        }

        &_call {
            display: none;
        }

        &_phone {
            font-size: 18px;
            display: block;
            margin-top: 7px;
            text-align: center;
        }

        &_btn {
            height: 35px;
            width: 150px;
            display: block;
            margin: 0 auto;
            margin-top: 5px;
            font-size: 13px;
        }
    }

    .promo {
        &_header {
            font-size: 30px;
        }

        &_subheader {
            font-size: 30px;
        }
    }

    .xs-hidden {
        display: none;
    }

    .xs-visible {
        display: block;
    }

    .choice {
        &_car {
            img {
                width: 550px;
            }
        }
    }

    footer {
        .footer_line {
            width: 255px;
            margin-bottom: 21px;
        }

        .footer_info {
            flex-direction: column;
            align-items: center;

            nav {
                width: 100%;
                position: static;
                left: 0;
                transform: none;

                .footer_nav_second {
                    margin-bottom: 7px;

                    li {
                        margin: 0 10px 0;
                    }
                }

                .language {
                    margin-bottom: 15px;
                }
            }


            .footer_apps {
                width: 260px;
                display: flex;
                justify-content: space-between;
                
                a {
                    width: 82px;
                    margin: 0;
                }

                img {
                    width: 83px;
                    height: 23px;
                }
            }

            .xs-visible {
                display: flex;
                margin-bottom: 20px;
            }

            .xs-hidden {
                display: none;
            }
        }
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 16px;
        margin: 18px 0 24px;
    }

    .subheader {
        &_phone {
            margin-top: 9px;
            font-size: 16px;
        }

        &_btn {
            height: 30px;
            width: 117px;
            font-size: 11px;
        }
    }

    .menu {
        width: 75%;
    }

    .promo {
        min-height: 400px;
        padding: 120px 0 34px;
        
        &_header {
            line-height: 40px;
        }

        &_subheader {
            font-size: 20px;
            line-height: 24px;
        }

        &_descr {
            display: none;
        }

        &_btn {
            margin-top: 73px;
            width: 220px;
            height: 55px;
        }
    }

    .advantages {
        padding: 0;
    }

    .mobile {
        padding: 0 0 30px;
    }

    .choice {
        padding: 10px 0 31px;

        &_car {
            img {
                width: 300px;
                height: 190px;
            }
        }
    }

    .require {
        padding: 2px 0 0;

        .title {
            margin-bottom: 0;;
        }
    }

    .worldwide {
        padding: 6px 0 0;
    }
}